@model IEnumerable<TrashPickUp.Models.ExceptionDay>

@{
    ViewBag.Title = "Index";
}
<style type='text/css'>
    /*設定 數字靠右*/
</style>
<h2>Index</h2>
<h4>ExceptionDay</h4>
<p>
    @Html.ActionLink("Create New", "ExceptionDayCreate")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Exception)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "ExceptionDayEdit", new { id=item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exception)
        </td>

    </tr>
}

</table>
