@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trash Pickup Service</h1>
    <p class="lead">Welcome to the Trash Web App! Here you can do things related to your trash.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>